* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Skranji', cursive;
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 27, 60);
}

h1,
p {
  color: white;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  top: 0;
}

.uno_logo {
  width: 160px;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.bars {
  display: none;
}

.nav_bar ul li a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 15px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav_bar ul li a:hover {
  color: #212127;
  background-color: #ffe00e;
}

.nav_bar ul li a.active {
  color: #212127;
  background-color: #ffe00e;
}

/* HOME */
.home {
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 100px 0px;
  box-sizing:border-box;
}

.boton-khaby-first {
  border: 3px solid orange;
  width: 80%;
  max-width: 350px;
  border-radius: 30px;
  text-align: center;
  margin: 100px 10px 70px 10px;
  padding: 20px;
  box-sizing: content-box;
  
}

.title-boton-khaby-first {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}

.title-token-number {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: orange;
}

.container-token-title-number {
  width: 100%;
  max-width: 440px;
  border: yellow dashed 2px;
  border-radius: 25px;
  margin: 10px 0px;
  padding: 10px 3px;
  box-sizing: border-box;
}

.number-token {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  font-size: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ABOUT */
.about {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-about{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color:orange;
  margin: 0;
  padding: 5px;
}
.container-about-img-text{
  /* border: 1px solid yellow; */
  width: 100%;
  text-align: center;
  padding: 10px;
}
.container-about-img-text img{
  width: 80%;
  margin: 5px 0px;
}
.text-about{
  font-family: Arial, Helvetica, sans-serif;
}
/* TOKENOMIC */
.tokenomika{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 30px;
  padding: 10px;
}
.img-khaby-fornite{
  width: 80%;
  margin: 10px 0px;
}
.container-circle-text{
  border: 1px solid yellow;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  margin-bottom: 20px;
}
.img-circle{
  width: 70%;
}
.title-top{
  font-size: 9px;
  position: absolute;
  top: 2%;
  left:20%;
  font-family: Arial, Helvetica, sans-serif;
}
.title-top span{
  position:absolute;
  top:10px;
  left: 40px;
  padding: 5px;
}
.title-left{
  font-size: 9px;
  bottom: 40%;
  left: 1%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}
.title-left span{
  position: absolute;
  bottom: -15px;
  left: 20px;
}
.title-right{
  position: absolute;
  font-size: 9px;
  right: 2%;
  bottom: 15%;
  font-family: Arial, Helvetica, sans-serif;
}
.title-right span{
  position: absolute;
  bottom: -15px;
  right: 30px;
}
/* .container-title-text-grafic{
  border: 1px solid green;
} */
.title-tokenomic{
  text-align: center;
  font-weight: 700;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
}
.text-tokenomic{
  font-family: Arial, Helvetica, sans-serif;
}
.container-grafic-text{
  border: 1px solid salmon;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.img-grafic{
  width: 75%;
  margin: 10px 0px;
}
.title-grafic-first{
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  font-family: 'italic';
  top: 15%;
  left: 0%;
}
.title-grafic-second{
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  font-family: 'italic';
  top: 45%;
  left: 0%;
}
.title-grafic-three{
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  font-family: 'italic';
  bottom: 15%;
  left: 0%;
}
/* ROUMAP */
.roumap{
  /* border: 1px solid salmon; */
  box-sizing: content-box;
  margin-bottom: 30px;
}
.title-roumap{
  color: orange;
  text-align: center;
}
.container-three-fase{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  box-sizing: content-box;
}
.box-fase-one-two-three{
  width: 90%;
  max-width: 280px;
  border: 5px solid whitesmoke;
  height: 450px;
  border-radius: 25px;
  margin: 20px 0;
}
.first-back{
  background-color: rgb(88, 248, 163);
}
.second-back{
  background-color: rgb(255, 217, 1);
}
.three-back{
  background-color: rgb(168, 43, 226);
}
.box-img-title-fase{
  /* border: 1px solid yellow; */
  border-bottom: dashed 2px white;
  padding: 0 10px;
}
.box-img-khaby-fase{
 /*  border: 1px violet dashed; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
}
.box-img-khaby-fase img {
  width: 20%;
}
.container-text-description{
  /* border: 1px solid blue; */
  padding: 10px;
  margin-bottom: 70px;
}
.title-fase{
  font-size: 30px;
}
.second-title{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.container-text-description p {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
/* SHOP-TOKEN */
.shop-token{
  /* border: 1px solid red; */
  margin-bottom: 40px;
}
.title-shop{
  color: orange;
  text-align: center;
}
.container-shop-box{
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box-shop-one-two-three{
  width: 80%;
  height: 450px;
  max-width: 310px;
  border: 5px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-sizing:border-box;
}
.box-shop-one-two-three img {
  width: 20%;
}
.box-shop-one-two-three h1{
  font-size: 25px;
  text-align: center;
  margin: 10px 10px 25px 10px;
}
.box-shop-one-two-three p{
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 5px;
}
.back-first{
  background-image: linear-gradient(to right, rgb(54, 149, 245),rgb(15, 76, 137) ) ;
}
.back-second{
  background-image: linear-gradient(to right, #e3dc12, #97920e) ;
}
.back-three{
  background-image: linear-gradient(to right, rgb(39, 246, 177),rgb(11, 130, 91));
}

/* KING-KHABY*/
.king-khaby{
  /* border: 1px solid red; */
  margin-bottom: 30px;
}
.title-king{
  color: orange;
  text-align: center;
}
.container-king-divs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-king-divs img{
  width: 95%;
  margin: 20px 0;
}
.container-three-color{
  /* border: 1px dashed salmon; */
  width: 90%;
}
.color-div{
  border: 5px solid rgb(189, 189, 189);
  border-radius: 50px;
  height: 100px;
  margin: 20px 0px;
}

/* CONTACT */
.contact{
  /* border: 1px solid green; */
  padding: 10px;
}
.box-title-number-email{
  margin: 20px 0;
}
.first-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.number-text{
  color: rgb(168, 43, 226);
  margin: 0;
}
.box-icon{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  margin: 5px 0;
  border: 1px solid white;
}
.box-icon i {
  color: #5a5a5a;
  font-size: 20px;
}
/* Footer */
footer{
  width: 100%;
  padding: 40px 10px;
  background-color: rgb(13, 4, 36);
}
.title-footer{
  color: white;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
@media(min-width:560px){
  .container-token-title-number{
    padding: 15px 3px;
  }
  .number-token{
    font-size: 15px;
  }
}
@media(min-width:900px){
  /*Home*/
  .home{
    justify-content: center;
    height: 500px;
  }
  .boton-khaby-first{
    display: none;
  }
  .container-token-title-number{
    width: 50%;
  }
}
@media(max-width:900px) {
  header {
    padding: 0px 30px;
  }

  .bars {
    display: block;
    cursor: pointer;
  }

  .bars .line {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0px;
  }

  .nav_bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #2e2f34;
    transition: 0.5s;
    overflow: hidden;
  }

  .nav_bar.active {
    height: 450px;
  }

  .nav_bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav_bar.active ul {
    opacity: 1;
  }

  .nav_bar ul li a {
    margin-bottom: 20px;
  }
  
}