/* TOKENOMIC */
.tokenomika{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: 30px;
    padding: 10px;
    margin-top: -80px;
  }
  .img-khaby-fornite{
    display: block;
    width: 80%;
    margin-bottom: 30px;
  }
  .container-circle-text{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    margin-bottom: 20px;
  }
  .img-circle{
    width: 70%;
  }
  .title-top{
    font-size: 9px;
    position: absolute;
    top: 2%;
    left:20%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title-top span{
    position:absolute;
    top:10px;
    left: 40px;
    padding: 5px;
  }
  .title-left{
    font-size: 9px;
    bottom: 40%;
    left: 1%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title-left span{
    position: absolute;
    bottom: -15px;
    left: 20px;
  }
  .title-right{
    position: absolute;
    font-size: 9px;
    right: 0.5%;
    bottom: 15%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title-right span{
    position: absolute;
    bottom: -15px;
    right: 30px;
  }
  /* .container-title-text-grafic{
    border: 1px solid green;
  } */
  .title-tokenomic{
    text-align: center;
    font-weight: 700;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
  }
  .text-tokenomic{
    font-family: Arial, Helvetica, sans-serif;
  }
  .container-grafic-text{
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .img-grafic{
    width: 75%;
    margin: 10px 0px;
  }
  .title-grafic-first{
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    font-family: 'italic';
    top: 15%;
    left: -3%;
  }
  .title-grafic-second{
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    font-family: 'italic';
    top: 45%;
    left: -3%;
  }
  .title-grafic-three{
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    font-family: 'italic';
    bottom: 15%;
    left: -3%;
  }
  