/*Paleta de colores*/
$color-primario: rgb(38, 27, 60);
$color-secundario: #ffffff;
$color-terciario: #212127;

/*Tamaño de Pantalla*/
$mobilChico: 414px;
$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;

/*Separaciones (Margins y padding)*/
$espacioChico:20px;
$espacioMediano: 40px;
$espacioGrande: 60px;

/*Fuentes*/
$fuente-principal: 'Skranji', cursive;
$fuente-secundaria: 'italic';
$fuente-terciaria: Arial, Helvetica, sans-serif;

/*Tamaño de fuentes*/
$fuenteChica: 18px;
$fuenteMediano: 30px;
$fuenteGrande: 50px;

/**/